<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>  Angular Content will Go Here
</h2>-->
<!--<div class="p-2">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>Ratings</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>-->
<!--<td>{{product.supplier?.name || 'None'}}</td>
<td>{{product.ratings?.length || 0}}</td>-->
<!--</tr>
    </tbody>
  </table>
</div>-->

  <div class="p-2">
    <table class="table table-sm table-striped">
      <tbody>
        <tr>

          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Supplier</th>
          <th>Ratings</th>

        </tr>


        <tr *ngFor="let product of products">

          <td>{{product?.name}}</td>
          <td>{{product?.category}}</td>
          <td>{{product?.description}}</td>
          <td>{{product?.price}}</td>

          <td>{{product?.supplier?.name ||'None'}}</td>
          <td>{{product?.ratings?.length || 0}}</td>



          <!--<tr><th colspan="2" class="bg-info">Supplier</th></tr>
        <tr><th>Name</th><td>{{product?.supplier?.name}}</td></tr>
        <tr><th>Category</th><td>{{product?.supplier?.city}}</td></tr>
        <tr><th>Description</th><td>{{product?.supplier?.state}}</td></tr>
        <tr><th>Price</th><td>{{product?.supplier?.products?.length}}</td>-->

        </tr>

      </tbody>
    </table>

    <button class="btn btn-primary m-1" (click)="createProduct()">
      Create Product
    </button>
    <button class="btn btn-primary m-1" (click)="createProductAndSupplier()">
      Create Product and Supplier
    </button>

    <button class="btn btn-primary m-1" (click)="replaceProduct()">
      Replace Product
    </button>
    <button class="btn btn-primary m-1" (click)="replaceSupplier()">
      Replace Supplier
    </button>
    <button class="btn btn-primary m-1" (click)="updateSupplier()">
      Update Supplier
    </button>

    <button class="btn btn-primary m-1" (click)="deleteProduct()">
      Delete Product
    </button>
    <button class="btn btn-primary m-1" (click)="deleteSupplier()">
      Delete Supplier
    </button>

  </div>

<!--<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<!--<router-outlet></router-outlet>-->
